<style>
    #footer {
        font-family: Arial;
        color: lightgray;
        background-color: black;
        text-align: center;
        padding: 25px;
        position: relative;
    }

    #logo-footer {
        display: inline-block;
    }

    .footer-item {
        margin: 0 30px 30px 30px;
        text-decoration: none;
        color: lightgray;
    }

    .footer-social-media {
        text-decoration: none;
        color: lightgray;

        padding: 10px;
        border-radius: 20px;
        background: mediumpurple;

        position: relative;
    }

    .footer-image {
        position: relative;
        border-radius: 50%;
        padding: 10px;
        border: transparent;
        background: mediumpurple;
    }

    #logo-footer a {
        text-decoration: none;
        color: lightgray;
    }

</style>

{% load static %}

<div id="footer">
    <h1 class="footer-item" id="logo-footer"><a href="{% url 'home' %}">PDŁ</a></h1>
    <a href="{% url 'contact' %}" class="footer-item">Kontakt</a>
    <a href="{% url 'faq' %}" class="footer-item">FAQ</a>
    <a href="{% url 'support' %}" class="footer-item">Support</a>
    <br>
    <a href="https://www.facebook.com"><img class="footer-image" src="{% static 'icons8-facebook-f-30.png' %}"></a>
    <a href="https://twitter.com"><img class="footer-image" src="{% static 'icons8-twitter-30.png' %}"></a>
    <a href="https://www.instagram.com"><img class="footer-image" src="{% static 'icons8-instagram-30.png' %}"></a>
    <a href="https://linkedin.com"><img class="footer-image" src="{% static 'icons8-linkedin-2-30.png' %}"></a>
</div>
