{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">
</head>
<body>
    <div id="upper-bar">
        <div class="center-holder">
            <h1>Logo</h1>
            <a href="">sklep</a>
            <a href="">Aktualności</a>
            <a href="">Moje Gry</a>
            <a href="" class="current-page">O nas</a>
            <input type="text" placeholder="Search">
            <a href="">Zaloguj się</a>
            <a href="" class="download-button">Download PDŁ</a>
        </div>

    </div>

    <div id="content">
    </div>

    <div id="footer">
        <div class="footer-holder">
            <h1>Logo</h1>
            <a>Kontakt</a>
            <a>FAQ</a>
            <a>Support</a>
            <br>
            <a class="download-button" style="margin-left: 175px">FB</a>
            <a class="download-button" style="margin-left: 5px">TT</a>
            <a class="download-button" style="margin-left: 5px">IN</a>
            <a class="download-button" style="margin-left: 5px">in</a>
        </div>
    </div>
</body>
</html>