{#{% load static %}#}
{#<link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">#}

<style>
    body {
        margin: 0;
    }

    #navbar {
        font-family: Arial;
        font-size: 16px;
        color: lightgray;
        background-color: black;
        text-align: center;
        padding: 25px;
        position: relative;
    }

    .logo {
        display: inline-block;
        margin: 0 10px;
    }

    .logo a{
        text-decoration: none;
        color: lightgray;
    }

    .navbar-item {
        margin: 0 10px;
        text-decoration: none;
        color: lightgray;
    }

    #current-page {
        color: mediumpurple;
    }

    #searchbar-container {
        width: 10em;
        padding: 10px;
        border: lightgrey solid 1px;
        border-radius: 20px;
        margin-right: 100px;
    }

    #searchbar-container input {
        font-size: 16px;
        background: transparent;
        color: lightgray;
        outline: none;
    }

    #searchbar-container button {
        width: 30px;
        height: 30px;
        cursor: pointer;
        border: none;
    {% load static %}
        background: url("{% static 'icons8-search-30.png' %}") no-repeat;
    }

    #searchbar-container form {
        display: inline-block;
    }

    #navbar-download-button {
        padding: 10px;
        border-radius: 20px;
        background: mediumpurple;
        background-size: 30px;
    }

</style>

<div id="navbar">
    <h1 class="logo"><a href="{% url 'home' %}">PDŁ</a></h1>
    <a href="{% url 'home' %}" class="navbar-item" {% if request.resolver_match.view_name == 'home' %} id="current-page" {% endif %}>Sklep</a>
    <a href="{% url 'news' %}" class="navbar-item" {% if request.resolver_match.view_name == 'news' %} id="current-page" {% endif %}>Aktualności</a>

    {% if user.is_authenticated %}
        <a href="{% url 'my-game' %}" class="navbar-item" {% if request.resolver_match.view_name == 'my-game' %} id="current-page" {% endif %}>Moje gry</a>
    {% endif %}

    <a href="{% url 'about-us' %}" class="navbar-item" {% if request.resolver_match.view_name == 'about-us' %} id="current-page" {% endif %}>O nas</a>
    <span id="searchbar-container">
        <form action="{% url 'home' %}">
            <input id="searchbar-input" type="text" id="searchbar" placeholder="Wyszukaj" name="q" value="{{ q }}">
            <button id="searchbar-button">.</button>
        </form>
    </span>
{#    <input type="text" placeholder="Search" class="navbar-item" id="searchbar">#}
    <a href="{% url 'login' %}" class="navbar-item" {% if request.resolver_match.view_name == 'login' %} id="current-page" {% endif %}>Zaloguj się</a>
    <a class="navbar-item" id="navbar-download-button">Download PDŁ</a>
</div>
